RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.davidromero\.cat$ [NC]
RewriteRule ^$ www.davidromero.cat/PR4-NEW/index.php [R=301,L]

ErrorDocument 404 https://www.davidromero.cat/PR4-NEW/errors/404.html
